<?xml version="1.0" encoding="utf-8"?>
<Media Key="82bf1288-dd41-40b2-ae92-7a14b7f52761" Alias="Bild0017" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bild0017</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-03T14:31:55</CreateDate>
    <NodeName Default="Bild0017" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ryjl5asb/bild0017.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>