<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a1f2785-d909-4ca2-93d0-97ecafe900b3" Alias="Sss Logo Neu" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SssLogoNeu</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2021-10-23T11:44:46</CreateDate>
    <NodeName Default="Sss Logo Neu" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wqtb4kqj/sss-logo-neu.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>