<?xml version="1.0" encoding="utf-8"?>
<Media Key="0da2b628-e16f-4f85-8797-1c5fa0bc2230" Alias="Vogel" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Vogel</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2021-10-09T17:08:46</CreateDate>
    <NodeName Default="Vogel" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ac1kedlp/vogel.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>