@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Sss.Umb9.Mutobo.PageModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<base-o-body>


    @if (Model.CallToActionButton != null)
    { 
        @await Html.PartialAsync("~/Views/Modules/CallToActionButton.cshtml", Model.CallToActionButton)
    }



    <h1>@Model.PageTitle</h1>
    @if (Model.Modules != null && Model.Modules.Any())
    {
        foreach (var module in Model.Modules)
        {
            @await module.RenderModule(this.Html)

            if (module.SpacerAfterModule)
            {
                <div class="spacer"></div>
            }
        }

    }


</base-o-body>