@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Sss.Umb9.Mutobo.PageModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<base-o-body>



    <div>
        <base-a-call-for-action 
                                href="/offerte-anfordern"
                                background-color="rgba(128, 0, 0, .8)"
                                position="fixed"
                                position-mobile="static"
                                right="5vw"
                                z-index:"0"
                                namespace="cta-">
            <h4>Offerte <br />anfordern</h4>
            <p>
                es lohnt sich!
            </p>
        </base-a-call-for-action>
    </div>


    <h1>@Model.PageTitle</h1>
    @if (Model.Modules != null && Model.Modules.Any())
    {
        foreach (var module in Model.Modules)
        {
            @await module.RenderModule(this.Html)

            if (module.SpacerAfterModule)
            {
                <div class="spacer"></div>
            }
        }

    }


</base-o-body>