@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Sss.Umb9.Mutobo.PageModels.ContentPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
}


<h1>@Model.PageTitle</h1>


@if (Model.EmotionImages != null && Model.EmotionImages.Any())
{
    @foreach (var img in Model.EmotionImages)
    {

        <img src="@img.DefaultSource.Src" alt="@img.Alt" />
    }


}




@if (Model.Modules != null && Model.Modules.Any())
{
    foreach (var module in Model.Modules)
    {
        @module.RenderModule(this.Html)
    }
}