@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Sss.Umb9.Mutobo.PageModels.ContentPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
}



<base-o-body>
    <style>
        :host ul {
            margin-left: 9vw;
        
        }


        @@media only screen and (max-width: 1000px) {
            :host ul {
                margin: 0;
            }
        }

    </style>

    @await Html.PartialAsync("~/Views/Partials/ArticleContent.cshtml", Model)
    <div class="spacer"></div>
    @if (Model.Modules != null && Model.Modules.Any())
    {
        foreach (var module in Model.Modules)
        {
            
            @await module.RenderModule(this.Html)

            if (module.SpacerAfterModule)
            { 
                <div class="spacer"></div>
            }
        }
    }
</base-o-body>



