<?xml version="1.0" encoding="utf-8"?>
<Content Key="b0b9274a-9613-46e7-84b6-3a75be8352a3" Alias="Beitrag 1" Level="3">
  <Info>
    <Parent Key="3c06440e-288f-4b3d-9638-c1cc66c0ede8">Blog</Parent>
    <Path>/Home/Blog/Beitrag1</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2021-10-22T15:18:02</CreateDate>
    <NodeName Default="Beitrag 1">
      <Name Culture="de-ch">Beitrag 1</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-ch">true</Published>
    </Published>
    <Schedule />
    <Template Key="2fe4d193-5e74-4ecf-925d-f6b124846f98">InhaltsseiteMitModulfeld</Template>
  </Info>
  <Properties>
    <abstract>
      <Value Culture="de-ch"><![CDATA[gdfsf]]></Value>
    </abstract>
    <emotionImages>
      <Value><![CDATA[umb://media/e53608ecd8604a759eb0d14509cfab74]]></Value>
    </emotionImages>
    <excludeFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromXMLSitemap>
    <footerConfiguration>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </footerConfiguration>
    <googleAnalyticsKey>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsKey>
    <headerConfiguration>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </headerConfiguration>
    <hideAbstract>
      <Value><![CDATA[0]]></Value>
    </hideAbstract>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <mainContent>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </mainContent>
    <metaDescription>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </metaTitle>
    <modules>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </modules>
    <newWindow>
      <Value Culture="de-ch"><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value Culture="de-ch"><![CDATA[Beitrag 1]]></Value>
    </pageTitle>
    <redirectLink>
      <Value Culture="de-ch"><![CDATA[[]]]></Value>
    </redirectLink>
    <searchEngineFrequency>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </searchEngineFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <thumbnail>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </thumbnail>
  </Properties>
</Content>