<?xml version="1.0" encoding="utf-8"?>
<Content Key="bab9761b-0c3c-4946-ab76-bfd1acd6cd5f" Alias="Firma" Level="2">
  <Info>
    <Parent Key="4b3cf1f5-a228-4b2c-b335-7bda3a307e01">Home</Parent>
    <Path>/Home/Firma</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2021-10-09T11:05:37</CreateDate>
    <NodeName Default="Firma">
      <Name Culture="en-us">Firma</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="2fe4d193-5e74-4ecf-925d-f6b124846f98">InhaltsseiteMitModulfeld</Template>
  </Info>
  <Properties>
    <abstract>
      <Value Culture="en-us"><![CDATA[Schenk Smart Solutions wurde am  6. Juli 2021 als Einzelfirma ins Thurgauer Handelsregister eingetragen. Wie für viele Startups üblich, besteht sie zurzeit nur aus meiner Person.

Mein Name ist Roland "Roli" Schenk und ich bin Diplomierter Informatiktechniker HF Fachrichtung Businessinformatik. Seit mehr als einem Jahrzehnt arbeite ich bei verschiedenen kleineren, mittleren und grösseren Unternehmen als Softwareentwickler. Dabei konnte ich eine grosse Erfahrungsschatz in der Entwicklung von Businesslogiken und der Umsetzung von professionellen Webauftritten aufbauen.

Nun möchte ich diese Wissen nutzen um mich auf eigene Beine zu stellen und habe Schenk Smart Solutions ins Leben gerufen.]]></Value>
    </abstract>
    <emotionImages>
      <Value><![CDATA[umb://media/e53608ecd8604a759eb0d14509cfab74]]></Value>
    </emotionImages>
    <excludeFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromXMLSitemap>
    <footerConfiguration>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </footerConfiguration>
    <googleAnalyticsKey>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsKey>
    <headerConfiguration>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </headerConfiguration>
    <hideAbstract>
      <Value><![CDATA[0]]></Value>
    </hideAbstract>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <mainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </mainContent>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <modules>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </modules>
    <newWindow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value Culture="en-us"><![CDATA[Firma]]></Value>
    </pageTitle>
    <redirectLink>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </redirectLink>
    <searchEngineFrequency>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchEngineFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <thumbnail>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </thumbnail>
  </Properties>
</Content>