<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae76660b-5c88-4ef8-b728-ef44ec28b695" Alias="GV Erlenacker" Level="3">
  <Info>
    <Parent Key="068ffd42-27da-41d8-abcc-96d12d9c0e1c">Projekte</Parent>
    <Path>/Home/Projekte/GVErlenacker</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2021-10-23T21:17:47</CreateDate>
    <NodeName Default="GV Erlenacker">
      <Name Culture="de-ch">GV Erlenacker</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-ch">true</Published>
    </Published>
    <Schedule />
    <Template Key="2fe4d193-5e74-4ecf-925d-f6b124846f98">InhaltsseiteMitModulfeld</Template>
  </Info>
  <Properties>
    <abstract>
      <Value Culture="de-ch"><![CDATA[Website der Gönnervereinigung Nachwuchs Erlenacker.]]></Value>
    </abstract>
    <emotionImages>
      <Value><![CDATA[umb://media/93aa1fe4047b4321bcdc2ad4998e6461,umb://media/56c7d0b0403143ef914d6804541e4c76,umb://media/09d6140f9c47466aa5a119d984645a4a]]></Value>
    </emotionImages>
    <excludeFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromXMLSitemap>
    <footerConfiguration>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </footerConfiguration>
    <googleAnalyticsKey>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsKey>
    <headerConfiguration>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </headerConfiguration>
    <hideAbstract>
      <Value><![CDATA[1]]></Value>
    </hideAbstract>
    <hideFromNavigation>
      <Value><![CDATA[1]]></Value>
    </hideFromNavigation>
    <mainContent>
      <Value Culture="de-ch"><![CDATA[<p>Schenk Smart Solutions ist Sponsor und Onlinepartner der  <a rel="noopener" href="https://gv-erlenacker.ch/" target="_blank">Gönnervereinigung Nachwuchs Erlenacker</a> und durfte deren neuen Webauftritt konzipieren und umsetzen. Der Auftritt kommt beim Auftraggeber sehr gut an und überzeugt insbesondere durch die einfache Bedienung des verwendeten Content Management Systems Umbraco. Als Spezialfeature ist sicherlich die Mitgliederverwaltung der Gönner zu erwähnen. Neue Gönner können sich direkt über ein Formular auf der Website einschreiben. Um insbesondere den gewerblichen Gönnern einen Mehrwert zu bieten wurde die Gönnertafel so gestaltet, dass gewerbliche Gönner in zufälliger Reihenfolge erscheinen. Somit ist keiner der gewerblichen Gönner benachteiligt.</p>]]></Value>
    </mainContent>
    <metaDescription>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </metaTitle>
    <modules>
      <Value Culture="de-ch"><![CDATA[[
  {
    "key": "11af5ecb-a4ef-4669-ba52-b1c3a9c61e9d",
    "name": "Quote",
    "ncContentTypeAlias": "quote",
    "PropType": null,
    "quoteText": "Auf unsere Wünsche und Ideen wurde kompetent eingegangen und eine passende Webseite erstellt. Dank der guten Zusammenarbeit und des angenehmen Supports, ist es sehr einfach die Homepage zu bearbeiten und gestalten.",
    "spellerName": "Roger Meier",
    "spellerFunction": "Content-Verantwortlicher gv-erlenacker.ch",
    "spacerBeforeModule": "0",
    "spacerAfterModule": "1"
  }
]]]></Value>
    </modules>
    <newWindow>
      <Value Culture="de-ch"><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value Culture="de-ch"><![CDATA[GV Erlenacker]]></Value>
    </pageTitle>
    <redirectLink>
      <Value Culture="de-ch"><![CDATA[[]]]></Value>
    </redirectLink>
    <searchEngineFrequency>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </searchEngineFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <thumbnail>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </thumbnail>
  </Properties>
</Content>