<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c8c560d-33fc-4afc-a1c2-3acdedc4734e" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2021-10-10T16:42:13</CreateDate>
    <NodeName Default="Home">
      <Name Culture="de-ch">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-ch">true</Published>
    </Published>
    <Schedule />
    <Template Key="0a5ec49d-f21e-4fbc-89e6-c2a5bc67dbfe">HomePage</Template>
  </Info>
  <Properties>
    <excludeFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromXMLSitemap>
    <footerConfiguration>
      <Value Culture="de-ch"><![CDATA[[
  {
    "key": "ed5d3f3a-d1ab-481d-87ba-5bcf71b99a34",
    "name": "Item 1",
    "ncContentTypeAlias": "footerConfiguration",
    "PropType": null,
    "blockLinks": [],
    "footerLinks": [
      {
        "name": "Impressum",
        "udi": "umb://document/75cc87ac53dd4eefb71f09e2fd5a2403"
      },
      {
        "name": "Datenschutz",
        "udi": "umb://document/720c5df0b53345cc8c24dc2667211e8b"
      }
    ],
    "pictureLinks": "",
    "copyright": "Schenk Smart Solutions"
  }
]]]></Value>
    </footerConfiguration>
    <googleAnalyticsKey>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsKey>
    <headerConfiguration>
      <Value Culture="de-ch"><![CDATA[[
  {
    "key": "b041d92d-4234-4760-ba98-69fe5e8e3947",
    "name": "Item 1",
    "ncContentTypeAlias": "headerConfiguration",
    "PropType": null,
    "logo": "umb://media/805ed2397704404eab1cecc78bd1d2d3",
    "logoUrl": [
      {
        "name": "Home",
        "udi": "umb://document/7c8c560d33fc4afca1c23acdedc4734e"
      }
    ]
  }
]]]></Value>
    </headerConfiguration>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <metaDescription>
      <Value Culture="de-ch"><![CDATA[fsdgsdfgdf]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </metaTitle>
    <modules>
      <Value Culture="de-ch"><![CDATA[[
  {
    "key": "69257ec1-8b75-4c91-ad61-76d4d03a1bad",
    "name": "Teaser Galerie",
    "ncContentTypeAlias": "doubleSlider",
    "PropType": null,
    "slides": [
      {
        "key": "c03353ec-a5e6-49d8-bd28-20b19b95a7e4",
        "name": "Item 1",
        "ncContentTypeAlias": "textImageSlide",
        "PropType": null,
        "title": "Partner, statt Stakeholder",
        "text": "Die Onlinewelt entwickelt sich in rasendem Tempo weiter und umso wichtiger ist es, einen starken Partner zu haben, der dein Business kennt und deinen Onlineauftritt technisch betreut. Ich bin nicht nur während der Umsetzung deines Projektes für dich da, sondern berate und unterstütze dich bei der fortlaufenden Digitalisierung deines Geschäftes. Brauchst du eine einfache Website, oder willst du Prozesse, welche dich im Geschäftsalltag viel Zeit kosten, durch Digitalisierung vereinfachen? Mit Schenk Smart Solution hast du einen Partner, der dich in deine digitale Zukunft begleitet.  ",
        "image": "umb://media/dc3b1e76b2e546238f08fcacef6784bc",
        "link": [],
        "spacerBeforeModule": "0",
        "spacerAfterModule": "0"
      },
      {
        "key": "e9567d18-dfe5-40fb-9340-6dd6e1013da4",
        "name": "Item 2",
        "ncContentTypeAlias": "textImageSlide",
        "PropType": null,
        "title": "Smart and simple, as nature.",
        "text": "Wieso kompliziert, wenn es auch einfach geht? Moderne Onlinelösungen müssen nicht komplex sein. Mein Credo ist es, Lösungen simpel zu halten. Dies macht den Code wartbarer und zukunftssicherer. Vielfach wird heute bei Webprojekten, welche über die Jahre erweitert werden ein ganzes Sammelsurium an Frameworks eingesetzt. Gerade bei der Schnelllebigkeit von Frontend-Frameworks empfiehlt sich dies heute jedoch zu vermeiden. Schenk Smart Solutions verwendet für Web-Frontends keine Frameworks sondern arbeitet mit Vanilla-JS Web Components.   ",
        "image": "umb://media/769f2e3d768746dea2c1afab6abfe9c5",
        "link": [],
        "spacerBeforeModule": "0",
        "spacerAfterModule": "0"
      },
      {
        "key": "7981f1de-23e8-4eba-a9ea-654c7f13b790",
        "name": "Item 3",
        "ncContentTypeAlias": "textImageSlide",
        "PropType": null,
        "title": "Hoher Nutzen, statt hohe Kosten ",
        "text": "Es ist mir wichtig, dass du als mein Kunde nicht nur eine schöne Website bekommst. Sondern, dass diese auch den gewünschten Nutzen für dich erbringt. Die wenigsten Leute geben gerne Geld für Nonsense aus. Schenk Smart Solutions setzt bei Webprojekten auf das Open Source CMS Umbraco. Dieses bietet eine gute Plattform um eine auf dich zugeschnittene Lösung zu entwickeln. Umbraco wurde mit dem Microsoft .NET Framework entwickelt, welches auch selbst seit einiger Zeit Open Source ist.     ",
        "image": "umb://media/b066184306614ec6947b8bcf9ccf7af0",
        "link": [],
        "spacerBeforeModule": "0",
        "spacerAfterModule": "0"
      },
      {
        "key": "d47110b3-1280-4eda-bc2e-3475b09f02e6",
        "name": "Item 4",
        "ncContentTypeAlias": "textImageSlide",
        "PropType": null,
        "title": "Verständnis schaffen, statt Verwirrung stiften",
        "text": "Ich lebe nach dem Grundsatz dir als Kunden meine Arbeit in verständlichen Worten zu erklären. Trotz meiner jahrelangen Erfahrung in der Business-IT, habe ich die Grundsätze für gutes Handwerk, wie ich es vor bald zwei Jahrzehnten gelernt habe, nie verloren. Ich muss mich nicht hinter Fachbegriffen verstecken und versuche dir als Kunden immer aufzuzeigen wie deine Lösung funktioniert.",
        "image": "umb://media/94e50b2624654d2394ff9afa307927a8",
        "link": [],
        "spacerBeforeModule": "0",
        "spacerAfterModule": "0"
      },
      {
        "key": "53329bf4-3a34-450f-b318-c3ccca73e434",
        "name": "Item 5",
        "ncContentTypeAlias": "textImageSlide",
        "PropType": null,
        "title": "Best-of-Breed",
        "text": "Ich arbeite nach dem Best-of-Breed Ansatz. Das schöne neudeutsche Wort bedeutet, dass für jede Aufgabe das bestmögliche Werkzeug verwendet werden soll. Sollte dies heissen, dass meine Lösung nicht passend für dich ist, dann stehe ich dazu. Umbraco ist jedoch eine Art Multitool, das für viele deiner täglichen Prozesse angepasst werden kann. Nimm Kontakt mit mir auf und beschreibe deinen Prozess und wir werden gemeinsam eine Strategie finden um diesen mit Umbraco zu vereinfachen.",
        "image": "umb://media/d25e9fc6a1ec4226bf5e360cd645971f",
        "link": [],
        "spacerBeforeModule": "0",
        "spacerAfterModule": "0"
      }
    ],
    "height": "300",
    "width": "533",
    "displayType": [
      "Boxed"
    ],
    "interval": "20000",
    "spacerBeforeModule": "0",
    "spacerAfterModule": "0"
  }
]]]></Value>
    </modules>
    <newWindow>
      <Value Culture="de-ch"><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value Culture="de-ch"><![CDATA[Schenk Smart Solutions]]></Value>
    </pageTitle>
    <redirectLink>
      <Value Culture="de-ch"><![CDATA[[]]]></Value>
    </redirectLink>
    <searchEngineFrequency>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </searchEngineFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <thumbnail>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </thumbnail>
  </Properties>
</Content>