<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b3cf1f5-a228-4b2c-b335-7bda3a307e01" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2021-10-09T06:48:56</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-us">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="0a5ec49d-f21e-4fbc-89e6-c2a5bc67dbfe">HomePage</Template>
  </Info>
  <Properties>
    <excludeFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromXMLSitemap>
    <footerConfiguration>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "b2bb2eaa-445e-4c70-82d7-955672770cc6",
    "name": "Item 1",
    "ncContentTypeAlias": "footerConfiguration",
    "PropType": null,
    "blockLinks": [],
    "footerLinks": [],
    "pictureLinks": "",
    "copyright": "Schenk Smart Solutions"
  }
]]]></Value>
    </footerConfiguration>
    <googleAnalyticsKey>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsKey>
    <headerConfiguration>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "e54f551c-4070-4cc2-b34b-65e65391b82e",
    "name": "Item 1",
    "ncContentTypeAlias": "headerConfiguration",
    "PropType": null,
    "logo": "umb://media/805ed2397704404eab1cecc78bd1d2d3",
    "logoUrl": []
  }
]]]></Value>
    </headerConfiguration>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <modules>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "0871290e-2aac-4208-bb03-77b10d57a820",
    "name": "Titel",
    "ncContentTypeAlias": "heading",
    "PropType": null,
    "text": "Test",
    "renderAs": [
      "Heading1"
    ],
    "navigationAnchor": "",
    "spacerBeforeModule": "0",
    "spacerAfterModule": "0"
  },
  {
    "key": "49832fdd-5b41-4d3d-8872-02079adee231",
    "name": "Rich Text Komponente",
    "ncContentTypeAlias": "richTextComponent",
    "PropType": null,
    "richText": "<p>Hallo Welt</p>",
    "spacerBeforeModule": "0",
    "spacerAfterModule": "0"
  },
  {
    "key": "4c716a8f-7304-49bd-b780-77555b811bcc",
    "name": "Teaser Galerie",
    "ncContentTypeAlias": "doubleSlider",
    "PropType": null,
    "slides": [
      {
        "key": "81710085-325b-447d-a10f-2dcddc6c9713",
        "name": "Item 1",
        "ncContentTypeAlias": "textImageSlide",
        "PropType": null,
        "title": "Test",
        "text": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.",
        "image": "umb://media/66de65bda8de4c26875bed6162fdf008",
        "link": [],
        "spacerBeforeModule": "0",
        "spacerAfterModule": "0"
      },
      {
        "key": "88140a28-312a-49e4-900b-cebb36bcc20b",
        "name": "Item 2",
        "ncContentTypeAlias": "textImageSlide",
        "PropType": null,
        "title": "Test",
        "text": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.",
        "image": "umb://media/ea8c4c655cf94b42aed192fae2b399ed",
        "link": [],
        "spacerBeforeModule": "0",
        "spacerAfterModule": "0"
      }
    ],
    "height": "",
    "width": "",
    "displayType": [
      "Boxed"
    ],
    "interval": "",
    "spacerBeforeModule": "0",
    "spacerAfterModule": "0"
  },
  {
    "key": "aaf93501-7793-4733-ac7e-d4eec26fd599",
    "name": "Teaser",
    "ncContentTypeAlias": "teaser",
    "PropType": null,
    "link": [],
    "images": "umb://media/ea8c4c655cf94b42aed192fae2b399ed",
    "useArticleData": "0",
    "teaserTitle": "Test",
    "teaserText": "<p>Bla bla bla</p>",
    "spacerBeforeModule": "0",
    "spacerAfterModule": "0"
  },
  {
    "key": "1cb128e7-c4b8-48fb-9e50-5368f17e9208",
    "name": "Video Komponente",
    "ncContentTypeAlias": "videoComponent",
    "PropType": null,
    "videoFile": "",
    "embedded": "<iframe width=\"560\" height=\"315\" src=\"https://www.youtube.com/embed/1q-Ga3myTP4\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>",
    "height": "",
    "width": "",
    "spacerBeforeModule": "0",
    "spacerAfterModule": "0"
  },
  {
    "key": "b9cdff34-b2a2-4bf0-b3ad-c5fc3e14be10",
    "name": "Video Komponente",
    "ncContentTypeAlias": "videoComponent",
    "PropType": null,
    "videoFile": "umb://media/0da2b628e16f4f8587971c5fa0bc2230",
    "embedded": "",
    "height": "",
    "width": "",
    "spacerBeforeModule": "0",
    "spacerAfterModule": "0"
  },
  {
    "key": "229bc2cd-cfd7-4576-b370-830cc7ec1202",
    "name": "Galeriekomponente",
    "ncContentTypeAlias": "sliderComponent",
    "PropType": null,
    "slides": [
      {
        "key": "4eae04ce-f1cf-4d48-8e85-5bbda9edd02a",
        "name": "Video Komponente",
        "ncContentTypeAlias": "videoComponent",
        "PropType": null,
        "videoFile": "umb://media/0da2b628e16f4f8587971c5fa0bc2230",
        "embedded": "",
        "height": "",
        "width": "",
        "spacerBeforeModule": "0",
        "spacerAfterModule": "0"
      },
      {
        "key": "41820503-4f55-42d4-bc7d-fe4cef2e6710",
        "name": "Bild",
        "ncContentTypeAlias": "pictureModule",
        "PropType": null,
        "image": "umb://media/a267220f6be549c6b663eb7e9f278dcd",
        "spacerBeforeModule": "0",
        "spacerAfterModule": "0"
      }
    ],
    "height": "450",
    "width": "800",
    "interval": "",
    "displayType": [
      "Boxed"
    ],
    "spacerBeforeModule": "0",
    "spacerAfterModule": "0"
  },
  {
    "key": "a50c658b-41b2-4b04-80d1-5eacc034f6a2",
    "name": "Bild",
    "ncContentTypeAlias": "pictureModule",
    "PropType": null,
    "image": "umb://media/e53608ecd8604a759eb0d14509cfab74",
    "spacerBeforeModule": "0",
    "spacerAfterModule": "0"
  },
  {
    "key": "d7b8c543-3964-4d28-88b4-1fb08051ff46",
    "name": "BlogModule",
    "ncContentTypeAlias": "blogModule",
    "PropType": null,
    "parentPage": "umb://document/4b3cf1f5a2284b2cb3357bda3a307e01",
    "spacerBeforeModule": "0",
    "spacerAfterModule": "0"
  }
]]]></Value>
    </modules>
    <newWindow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value Culture="en-us"><![CDATA[Home]]></Value>
    </pageTitle>
    <redirectLink>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </redirectLink>
    <searchEngineFrequency>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchEngineFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <thumbnail>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </thumbnail>
  </Properties>
</Content>