<?xml version="1.0" encoding="utf-8"?>
<Content Key="ccf11b25-82c9-40cd-93ee-aab354eea095" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>articlePage</ContentType>
    <CreateDate>2021-10-03T11:23:40</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-us">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="9421bf60-3dae-41de-b0cd-d901674ade80">Test</Template>
  </Info>
  <Properties>
    <abstract>
      <Value Culture="en-us"><![CDATA[dsafdaf]]></Value>
    </abstract>
    <emotionImages>
      <Value><![CDATA[umb://media/5533b54d982a446abc9487253b671420,umb://media/30bad2f685a84864a61e39a1841b6a2f,umb://media/82bf1288dd4140b2ae927a14b7f52761]]></Value>
    </emotionImages>
    <excludeFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromXMLSitemap>
    <googleAnalyticsKey>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsKey>
    <hideAbstract>
      <Value><![CDATA[0]]></Value>
    </hideAbstract>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <mainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </mainContent>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <newWindow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value Culture="en-us"><![CDATA[Affenarsch]]></Value>
    </pageTitle>
    <thumbnail>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </thumbnail>
  </Properties>
</Content>