<?xml version="1.0" encoding="utf-8"?>
<Content Key="75cc87ac-53dd-4eef-b71f-09e2fd5a2403" Alias="Impressum" Level="2">
  <Info>
    <Parent Key="7c8c560d-33fc-4afc-a1c2-3acdedc4734e">Home</Parent>
    <Path>/Home/Impressum</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2021-10-10T16:50:18</CreateDate>
    <NodeName Default="Impressum">
      <Name Culture="de-ch">Impressum</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="de-ch">true</Published>
    </Published>
    <Schedule />
    <Template Key="2fe4d193-5e74-4ecf-925d-f6b124846f98">InhaltsseiteMitModulfeld</Template>
  </Info>
  <Properties>
    <abstract>
      <Value Culture="de-ch"><![CDATA[Schenk Smart Solutions, Hörmoos 53, 9217 Neukirch an der Thur]]></Value>
    </abstract>
    <emotionImages>
      <Value><![CDATA[]]></Value>
    </emotionImages>
    <excludeFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromXMLSitemap>
    <footerConfiguration>
      <Value><![CDATA[]]></Value>
    </footerConfiguration>
    <googleAnalyticsKey>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsKey>
    <headerConfiguration>
      <Value><![CDATA[]]></Value>
    </headerConfiguration>
    <hideAbstract>
      <Value><![CDATA[0]]></Value>
    </hideAbstract>
    <hideFromNavigation>
      <Value><![CDATA[1]]></Value>
    </hideFromNavigation>
    <mainContent>
      <Value Culture="de-ch"><![CDATA[<p><strong>Kontakt-Adresse</strong></p>
<p>Schenk Smart Solutions<br />Roland Schenk<br />Hörmoos 53<br />9217 Neukirch an der Thur<br />Schweiz</p>
<p>E-Mail:<br />roli@schenk-smart-solutions.ch</p>
<p><br /><br /></p>
<p><strong>Vertretungsberechtigte Person(en)</strong></p>
<p>Roland Schenk, Geschäftsführer<br /><br /></p>
<p><strong>Handelsregister-Eintrag</strong></p>
<p>Eingetragener Firmenname:<br /><strong>Schenk Smart Solutions</strong><br /><br />Unternehmens-Nr (UID):<br /><strong>CHE-290.677.844</strong><br /><br /></p>
<p>Mehrwertsteuer-Nummer<br /><strong>CHE-290.677.844 MWST</strong><br /><br /><br /></p>
<p><strong>Haftungsausschluss</strong></p>
<p>Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit der Informationen.</p>
<p>Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art, welche aus dem Zugriff oder der Nutzung bzw. Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der Verbindung oder durch technische Störungen entstanden sind, werden ausgeschlossen.</p>
<p>Alle Angebote sind unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne besondere Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.</p>
<p><br /><br /></p>
<p><strong>Haftungsausschluss für Links</strong></p>
<p>Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres Verantwortungsbereichs. Es wird jegliche Verantwortung für solche Webseiten abgelehnt. Der Zugriff und die Nutzung solcher Webseiten erfolgen auf eigene Gefahr des jeweiligen Nutzers.</p>
<p><br /><br /></p>
<p><strong>Urheberrechte</strong></p>
<p>Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf dieser Website, gehören ausschliesslich <strong>Roland Schenk</strong> oder den speziell genannten Rechteinhabern. Für die Reproduktion jeglicher Elemente ist die schriftliche Zustimmung des Urheberrechtsträgers im Voraus einzuholen.</p>
<p> </p>
<p><!--ACHTUNG: Wenn Sie die Quelle ohne Erlaubnis von SwissAnwalt entfernen, dann begehen Sie eine Urheberrechtsverletzung welche in jedem Fall geahndet wird.--></p>
<p>Quelle: <a rel="noopener" href="https://www.swissanwalt.ch" target="_blank">SwissAnwalt</a></p>
<p><!--Bitte beachten Sie die AGB von SwissAnwalt betreffend allf&auml;llig anfallenden Kosten bei Weglassen der Quelle!--></p>
<p> </p>]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <modules>
      <Value><![CDATA[]]></Value>
    </modules>
    <newWindow>
      <Value Culture="de-ch"><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value Culture="de-ch"><![CDATA[Impressum]]></Value>
    </pageTitle>
    <redirectLink>
      <Value Culture="de-ch"><![CDATA[[]]]></Value>
    </redirectLink>
    <searchEngineFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <thumbnail>
      <Value><![CDATA[]]></Value>
    </thumbnail>
  </Properties>
</Content>