<?xml version="1.0" encoding="utf-8"?>
<Content Key="866e136b-475c-470a-9487-1d20c9c6cf8b" Alias="Landing Page" Level="3">
  <Info>
    <Parent Key="c96d0a17-4e05-4e58-bccd-73c6152ef0aa">Test</Parent>
    <Path>/Home/Test/LandingPage</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2021-10-22T10:00:38</CreateDate>
    <NodeName Default="Landing Page">
      <Name Culture="de-ch">Landing Page</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-ch">true</Published>
    </Published>
    <Schedule />
    <Template Key="2fe4d193-5e74-4ecf-925d-f6b124846f98">InhaltsseiteMitModulfeld</Template>
  </Info>
  <Properties>
    <abstract>
      <Value Culture="de-ch"><![CDATA[Vielen Dank für deine Anfrage es wurde eine Bestätigungsmail an Deine Mailadresse ausgelöst und ich werde mich in Kürze bei Dir melden.]]></Value>
    </abstract>
    <emotionImages>
      <Value><![CDATA[]]></Value>
    </emotionImages>
    <excludeFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromXMLSitemap>
    <footerConfiguration>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </footerConfiguration>
    <googleAnalyticsKey>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsKey>
    <headerConfiguration>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </headerConfiguration>
    <hideAbstract>
      <Value><![CDATA[0]]></Value>
    </hideAbstract>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <mainContent>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <modules>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </modules>
    <newWindow>
      <Value Culture="de-ch"><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value Culture="de-ch"><![CDATA[Landing Page]]></Value>
    </pageTitle>
    <redirectLink>
      <Value Culture="de-ch"><![CDATA[[]]]></Value>
    </redirectLink>
    <searchEngineFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <thumbnail>
      <Value><![CDATA[]]></Value>
    </thumbnail>
  </Properties>
</Content>