<?xml version="1.0" encoding="utf-8"?>
<Content Key="14a9b353-b458-4bbe-a494-3bfd733e9c4d" Alias="Mail Konfigurationen" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MailKonfigurationen</Path>
    <Trashed>false</Trashed>
    <ContentType>email</ContentType>
    <CreateDate>2021-10-17T21:02:54</CreateDate>
    <NodeName Default="Mail Konfigurationen" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>