<?xml version="1.0" encoding="utf-8"?>
<Content Key="99e37f56-f7fd-4c36-9ea8-06df10d0210d" Alias="Musikarin" Level="3">
  <Info>
    <Parent Key="068ffd42-27da-41d8-abcc-96d12d9c0e1c">Projekte</Parent>
    <Path>/Home/Projekte/Musikarin</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2021-10-23T21:25:12</CreateDate>
    <NodeName Default="Musikarin">
      <Name Culture="de-ch">Musikarin</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="de-ch">true</Published>
    </Published>
    <Schedule />
    <Template Key="2fe4d193-5e74-4ecf-925d-f6b124846f98">InhaltsseiteMitModulfeld</Template>
  </Info>
  <Properties>
    <abstract>
      <Value Culture="de-ch"><![CDATA[Website der Musikschule von Karin Wolfensberger-Schenk]]></Value>
    </abstract>
    <emotionImages>
      <Value><![CDATA[umb://media/c96c1c7c3cea4305b5f028be4e42165c,umb://media/13fd945c1a6645e38a4b7a1d95ff3680,umb://media/8fe4d610955a447193c6fec30d23ee59]]></Value>
    </emotionImages>
    <excludeFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromXMLSitemap>
    <footerConfiguration>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </footerConfiguration>
    <googleAnalyticsKey>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsKey>
    <headerConfiguration>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </headerConfiguration>
    <hideAbstract>
      <Value><![CDATA[1]]></Value>
    </hideAbstract>
    <hideFromNavigation>
      <Value><![CDATA[1]]></Value>
    </hideFromNavigation>
    <mainContent>
      <Value Culture="de-ch"><![CDATA[<p>Ich durfte die neue Website für die Musikschule meiner Schwester gestalten. Nachdem die alte Lösung auf Joomla-Basis in die Jahre gekommen war und sich mit Umbraco die Möglichkeit ergab eine professionelle Lösung mit einem Open Source .NET-CMS zu bauen, ergriffen wir zusammen die Gelegenheit.</p>
<p>Herausgekommen ist eine farbenfrohe Seite, welche die bunte und fröhliche Natur der Auftraggeberin schön widerspiegelt. Die Seite <a rel="noopener" href="https://musikarin.ch/" target="_blank">musikarin.ch</a> ist auf jeden Fall einen Besuch wert.</p>]]></Value>
    </mainContent>
    <metaDescription>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </metaTitle>
    <modules>
      <Value Culture="de-ch"><![CDATA[[
  {
    "key": "8ff4a0fe-49af-4dc2-9d20-d32c00fc224d",
    "name": "Quote",
    "ncContentTypeAlias": "quote",
    "PropType": null,
    "quoteText": "Hoch professionelle Arbeit mit sehr gut verständlicher Schulung zur Website. Persönliche Wünsche werden berücksichtigt, wo nur immer möglich. Ergebnis mit Pfiff und Perfektion.",
    "spellerName": "Karin Wolfensberger-Schenk",
    "spellerFunction": "Musikschule musikarin.ch",
    "spacerBeforeModule": "0",
    "spacerAfterModule": "0"
  }
]]]></Value>
    </modules>
    <newWindow>
      <Value Culture="de-ch"><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value Culture="de-ch"><![CDATA[musikarin.ch]]></Value>
    </pageTitle>
    <redirectLink>
      <Value Culture="de-ch"><![CDATA[[]]]></Value>
    </redirectLink>
    <searchEngineFrequency>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </searchEngineFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <thumbnail>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </thumbnail>
  </Properties>
</Content>