<?xml version="1.0" encoding="utf-8"?>
<Content Key="068ffd42-27da-41d8-abcc-96d12d9c0e1c" Alias="Projekte" Level="2">
  <Info>
    <Parent Key="7c8c560d-33fc-4afc-a1c2-3acdedc4734e">Home</Parent>
    <Path>/Home/Projekte</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2021-10-10T16:49:41</CreateDate>
    <NodeName Default="Projekte">
      <Name Culture="de-ch">Projekte</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="de-ch">true</Published>
    </Published>
    <Schedule />
    <Template Key="2fe4d193-5e74-4ecf-925d-f6b124846f98">InhaltsseiteMitModulfeld</Template>
  </Info>
  <Properties>
    <abstract>
      <Value Culture="de-ch"><![CDATA[Es ist immer gut, wenn man etwas zu zeigen hat. Hier findest du bereits umgesetzte Projekte von Schenk Smart Solutions. Besuche durch die Websiten meiner Kunden, welche durch Schenk Smart Solutions konzipiert, designt und geschult wurden.]]></Value>
    </abstract>
    <emotionImages>
      <Value><![CDATA[]]></Value>
    </emotionImages>
    <excludeFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromXMLSitemap>
    <footerConfiguration>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </footerConfiguration>
    <googleAnalyticsKey>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsKey>
    <headerConfiguration>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </headerConfiguration>
    <hideAbstract>
      <Value><![CDATA[0]]></Value>
    </hideAbstract>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <mainContent>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </mainContent>
    <metaDescription>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </metaTitle>
    <modules>
      <Value Culture="de-ch"><![CDATA[[
  {
    "key": "4e3c2135-a5da-4295-ad21-d624dc76d02b",
    "name": "2 Spalten Wrapper",
    "ncContentTypeAlias": "twoColWrapper",
    "PropType": null,
    "elements": [
      {
        "key": "73498a50-5f95-4265-b584-da503de791d5",
        "name": "Item 1",
        "ncContentTypeAlias": "flipTeaser",
        "PropType": null,
        "frontImage": [
          {
            "key": "5eb0f58e-781d-4eb4-b029-5962520c8b0b",
            "mediaKey": "93aa1fe4-047b-4321-bcdc-2ad4998e6461",
            "crops": [],
            "focalPoint": {
              "left": 0.5,
              "top": 0.5
            }
          }
        ],
        "title": "gv-erlenacker.ch",
        "text": "Den Webauftritt der Gönnervereinigung Nachwuchs Erlenacker durfte ich als Sponsoringprojekt umsetzen. Herzlichen Dank!",
        "link": [
          {
            "name": "mehr erfahren",
            "udi": "umb://document/ae76660b5c884ef8b728ef44ec28b695"
          }
        ]
      },
      {
        "key": "abc7b45c-cfc1-4794-8a8b-4f3ac559d8db",
        "name": "Item 2",
        "ncContentTypeAlias": "flipTeaser",
        "PropType": null,
        "frontImage": [
          {
            "key": "981b70b9-035a-447c-8849-a79c737d01c7",
            "mediaKey": "13fd945c-1a66-45e3-8a4b-7a1d95ff3680",
            "crops": [],
            "focalPoint": {
              "left": 0.5,
              "top": 0.5
            }
          }
        ],
        "title": "musikarin.ch",
        "text": "Der farbenfrohe Auftritt von musikarin.ch ",
        "link": [
          {
            "name": "mehr erfahren",
            "target": "_blank",
            "udi": "umb://document/99e37f56f7fd4c369ea806df10d0210d"
          }
        ]
      }
    ],
    "spacerBeforeModule": "0",
    "spacerAfterModule": "0"
  }
]]]></Value>
    </modules>
    <newWindow>
      <Value Culture="de-ch"><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value Culture="de-ch"><![CDATA[Projekte]]></Value>
    </pageTitle>
    <redirectLink>
      <Value Culture="de-ch"><![CDATA[[]]]></Value>
    </redirectLink>
    <searchEngineFrequency>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </searchEngineFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <thumbnail>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </thumbnail>
  </Properties>
</Content>