<?xml version="1.0" encoding="utf-8"?>
<Content Key="3202372d-13b9-41d5-ae5d-e84e39d22a34" Alias="Projekte" Level="2">
  <Info>
    <Parent Key="4b3cf1f5-a228-4b2c-b335-7bda3a307e01">Home</Parent>
    <Path>/Home/Projekte</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2021-10-10T09:22:19</CreateDate>
    <NodeName Default="Projekte">
      <Name Culture="en-us">Projekte</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="2fe4d193-5e74-4ecf-925d-f6b124846f98">InhaltsseiteMitModulfeld</Template>
  </Info>
  <Properties>
    <abstract>
      <Value Culture="en-us"><![CDATA[Es ist immer gut, wenn man etwas zu zeigen hat. Hier findest du bereits umgesetzte Projekte von Schenk Smart Solutions. Besuche durch die Websiten meiner Kunden, welche durch Schenk Smart Solutions konzipiert, designt und geschult wurden.]]></Value>
    </abstract>
    <emotionImages>
      <Value><![CDATA[]]></Value>
    </emotionImages>
    <excludeFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromXMLSitemap>
    <footerConfiguration>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </footerConfiguration>
    <googleAnalyticsKey>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsKey>
    <headerConfiguration>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </headerConfiguration>
    <hideAbstract>
      <Value><![CDATA[0]]></Value>
    </hideAbstract>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <mainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <modules>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "6e842c99-03d6-4d9b-801a-2be3ae4c2577",
    "name": "Titel",
    "ncContentTypeAlias": "heading",
    "PropType": null,
    "text": "Gönnervereinigung Nachwuchs Erlenacker",
    "renderAs": [
      "Heading2"
    ],
    "navigationAnchor": "",
    "spacerBeforeModule": "0",
    "spacerAfterModule": "0"
  },
  {
    "key": "449e7b99-a545-4262-8571-56440c55b173",
    "name": "Rich Text Komponente",
    "ncContentTypeAlias": "richTextComponent",
    "PropType": null,
    "richText": "<p>Schenk Smart Solutions ist Sponsor und Onlinepartner der  <a rel=\"noopener\" href=\"https://gv-erlenacker.ch/\" target=\"_blank\">Gönnervereinigung Nachwuchs Erlenacker</a> und durfte deren neuen Webauftritt konzipieren und umsetzen. Der Auftritt kommt beim Auftraggeber sehr gut an und überzeugt insbesondere durch die einfache Bedienung des verwendeten Content Management Systems Umbraco. Als Spezialfeature ist sicherlich die Mitgliederverwaltung der Gönner zu erwähnen. Neue Gönner können sich direkt über ein Formular auf der Website einschreiben. Um insbesondere den gewerblichen Gönnern einen Mehrwert zu bieten wurde die Gönnertafel so gestaltet, dass gewerbliche Gönner in zufälliger Reihenfolge erscheinen. Somit ist keiner der gewerblichen Gönner benachteiligt.</p>",
    "spacerBeforeModule": "0",
    "spacerAfterModule": "0"
  },
  {
    "key": "538fd036-3715-49d8-86a3-9d8275550238",
    "name": "Galeriekomponente",
    "ncContentTypeAlias": "sliderComponent",
    "PropType": null,
    "slides": [
      {
        "key": "f68b875a-0d1a-4540-bc3e-3da1eb4a9179",
        "name": "Bild",
        "ncContentTypeAlias": "pictureModule",
        "PropType": null,
        "image": "umb://media/93aa1fe4047b4321bcdc2ad4998e6461",
        "spacerBeforeModule": "0",
        "spacerAfterModule": "0"
      },
      {
        "key": "ef2681a0-9ecc-4aed-b6f0-51d6e64e7562",
        "name": "Bild",
        "ncContentTypeAlias": "pictureModule",
        "PropType": null,
        "image": "umb://media/56c7d0b0403143ef914d6804541e4c76",
        "spacerBeforeModule": "0",
        "spacerAfterModule": "0"
      },
      {
        "key": "012503c8-77d3-40a5-855f-8188620a68c6",
        "name": "Bild",
        "ncContentTypeAlias": "pictureModule",
        "PropType": null,
        "image": "umb://media/09d6140f9c47466aa5a119d984645a4a",
        "spacerBeforeModule": "0",
        "spacerAfterModule": "0"
      }
    ],
    "height": "300",
    "width": "533",
    "interval": "20000",
    "displayType": [
      "Boxed"
    ],
    "spacerBeforeModule": "0",
    "spacerAfterModule": "0"
  },
  {
    "key": "cfbd9238-10e4-4d99-98a6-f52a67ab383a",
    "name": "Quote",
    "ncContentTypeAlias": "quote",
    "PropType": null,
    "quoteText": "Auf unsere Wünsche und Ideen wurde kompetent eingegangen und eine passende Webseite erstellt. Dank der guten Zusammenarbeit und des angenehmen Supports, ist es sehr einfach die Homepage zu bearbeiten und gestalten.",
    "spellerName": "Roger Meier",
    "spellerFunction": "Content-Verantwortlicher gv-erlenacker.ch",
    "spacerBeforeModule": "0",
    "spacerAfterModule": "1"
  },
  {
    "key": "89dd61ec-fffe-4164-871c-e3010af1a1b4",
    "name": "Titel",
    "ncContentTypeAlias": "heading",
    "PropType": null,
    "text": "musikarin.ch",
    "renderAs": [
      "Heading2"
    ],
    "navigationAnchor": "",
    "spacerBeforeModule": "0",
    "spacerAfterModule": "0"
  },
  {
    "key": "e1b1373a-5922-4122-9c21-ad62bdb4e033",
    "name": "Rich Text Komponente",
    "ncContentTypeAlias": "richTextComponent",
    "PropType": null,
    "richText": "<p>Ich durfte die neue Website für die Musikschule meiner Schwester gestalten. Nachdem die alte Lösung auf Joomla-Basis in die Jahre gekommen war und sich mit Umbraco die Möglichkeit ergab eine professionelle Lösung mit einem Open Source .NET-CMS zu bauen, ergriffen wir zusammen die Gelegenheit.</p>\n<p>Herausgekommen ist eine farbenfrohe Seite, welche die bunte und fröhliche Natur der Auftraggeberin schön widerspiegelt. Die Seite <a rel=\"noopener\" href=\"https://musikarin.ch/\" target=\"_blank\">musikarin.ch</a> ist auf jeden Fall einen Besuch wert.</p>",
    "spacerBeforeModule": "0",
    "spacerAfterModule": "0"
  },
  {
    "key": "1d46ea5c-a5c6-409d-aec7-0c4e7a521224",
    "name": "Galeriekomponente",
    "ncContentTypeAlias": "sliderComponent",
    "PropType": null,
    "slides": [
      {
        "key": "1711e2a9-c609-4cb6-976a-063299f7ec42",
        "name": "Bild",
        "ncContentTypeAlias": "pictureModule",
        "PropType": null,
        "image": "umb://media/13fd945c1a6645e38a4b7a1d95ff3680",
        "spacerBeforeModule": "0",
        "spacerAfterModule": "0"
      },
      {
        "key": "e8e2bfc5-4c49-456b-904b-05c237671929",
        "name": "Bild",
        "ncContentTypeAlias": "pictureModule",
        "PropType": null,
        "image": "umb://media/c96c1c7c3cea4305b5f028be4e42165c",
        "spacerBeforeModule": "0",
        "spacerAfterModule": "0"
      },
      {
        "key": "61f55547-bb0f-4a00-98aa-f98e5e20fedd",
        "name": "Bild",
        "ncContentTypeAlias": "pictureModule",
        "PropType": null,
        "image": "umb://media/8fe4d610955a447193c6fec30d23ee59",
        "spacerBeforeModule": "0",
        "spacerAfterModule": "0"
      }
    ],
    "height": "300",
    "width": "533",
    "interval": "20000",
    "displayType": [
      "Boxed"
    ],
    "spacerBeforeModule": "0",
    "spacerAfterModule": "0"
  },
  {
    "key": "212a69dc-a246-48bd-8fb5-3596ce0f1484",
    "name": "Quote",
    "ncContentTypeAlias": "quote",
    "PropType": null,
    "quoteText": "Hoch professionelle Arbeit mit sehr gut verständlicher Schulung zur Website. Persönliche Wünsche werden berücksichtigt, wo nur immer möglich. Ergebnis mit Pfiff und Perfektion.",
    "spellerName": "Karin Wolfensberger-Schenk",
    "spellerFunction": "Musikschule musikarin.ch",
    "spacerBeforeModule": "0",
    "spacerAfterModule": "1"
  }
]]]></Value>
    </modules>
    <newWindow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value Culture="en-us"><![CDATA[Projekte]]></Value>
    </pageTitle>
    <redirectLink>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </redirectLink>
    <searchEngineFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <thumbnail>
      <Value><![CDATA[]]></Value>
    </thumbnail>
  </Properties>
</Content>