<?xml version="1.0" encoding="utf-8"?>
<Content Key="59c50e66-3097-44c9-85c3-1f448d9516e6" Alias="Receiver Mail" Level="2">
  <Info>
    <Parent Key="14a9b353-b458-4bbe-a494-3bfd733e9c4d">Mail Konfigurationen</Parent>
    <Path>/MailKonfigurationen/ReceiverMail</Path>
    <Trashed>false</Trashed>
    <ContentType>mailConfiguration</ContentType>
    <CreateDate>2021-10-17T21:04:18</CreateDate>
    <NodeName Default="Receiver Mail" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mailBody>
      <Value><![CDATA[<p>Mail Body</p>]]></Value>
    </mailBody>
    <mailFooter>
      <Value><![CDATA[<p>Mail Footer</p>]]></Value>
    </mailFooter>
    <mailHeader>
      <Value><![CDATA[<p>Mail Header</p>]]></Value>
    </mailHeader>
    <mailSubject>
      <Value><![CDATA[Kontakt Formular]]></Value>
    </mailSubject>
    <receiverMail>
      <Value><![CDATA[roli@schenk-smart-solutions.ch]]></Value>
    </receiverMail>
    <senderMail>
      <Value><![CDATA[roli@schenk-smart-solutions.ch]]></Value>
    </senderMail>
  </Properties>
</Content>