<?xml version="1.0" encoding="utf-8"?>
<Content Key="c96d0a17-4e05-4e58-bccd-73c6152ef0aa" Alias="Test" Level="2">
  <Info>
    <Parent Key="7c8c560d-33fc-4afc-a1c2-3acdedc4734e">Home</Parent>
    <Path>/Home/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2021-10-16T11:29:36</CreateDate>
    <NodeName Default="Test">
      <Name Culture="de-ch">Test</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="de-ch">true</Published>
    </Published>
    <Schedule />
    <Template Key="2fe4d193-5e74-4ecf-925d-f6b124846f98">InhaltsseiteMitModulfeld</Template>
  </Info>
  <Properties>
    <abstract>
      <Value Culture="de-ch"><![CDATA[Kontakt]]></Value>
    </abstract>
    <emotionImages>
      <Value><![CDATA[]]></Value>
    </emotionImages>
    <excludeFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromXMLSitemap>
    <footerConfiguration>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </footerConfiguration>
    <googleAnalyticsKey>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsKey>
    <headerConfiguration>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </headerConfiguration>
    <hideAbstract>
      <Value><![CDATA[0]]></Value>
    </hideAbstract>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <mainContent>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </mainContent>
    <metaDescription>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </metaTitle>
    <modules>
      <Value Culture="de-ch"><![CDATA[[
  {
    "key": "d64d1f2c-23a2-4c4e-bf4d-83486b693c59",
    "name": "2 Spalten Wrapper",
    "ncContentTypeAlias": "twoColWrapper",
    "PropType": null,
    "elements": [
      {
        "key": "cd3fe903-92e7-4099-9a3e-1ae9f0102d81",
        "name": "Item 1",
        "ncContentTypeAlias": "flipTeaser",
        "PropType": null,
        "frontImage": [
          {
            "key": "dfa8fb53-b76f-4a03-ae87-d25681f1120c",
            "mediaKey": "e53608ec-d860-4a75-9eb0-d14509cfab74",
            "crops": [],
            "focalPoint": {
              "left": 0.5,
              "top": 0.5
            }
          }
        ],
        "title": "Test",
        "text": "hdsghdgjhgdfsjvbmxcb",
        "link": [
          {
            "name": "Google",
            "target": "_blank",
            "url": "https://google.ch"
          }
        ]
      }
    ],
    "spacerBeforeModule": "0",
    "spacerAfterModule": "1"
  }
]]]></Value>
    </modules>
    <newWindow>
      <Value Culture="de-ch"><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value Culture="de-ch"><![CDATA[Test]]></Value>
    </pageTitle>
    <redirectLink>
      <Value Culture="de-ch"><![CDATA[[]]]></Value>
    </redirectLink>
    <searchEngineFrequency>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </searchEngineFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <thumbnail>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </thumbnail>
  </Properties>
</Content>