<?xml version="1.0" encoding="utf-8"?>
<Content Key="a88bfa5d-136e-43fc-9f45-763c25c5cb94" Alias="Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2021-11-14T07:45:02</CreateDate>
    <NodeName Default="Test">
      <Name Culture="de-ch">Test</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-ch">true</Published>
    </Published>
    <Schedule />
    <Template Key="0a5ec49d-f21e-4fbc-89e6-c2a5bc67dbfe">HomePage</Template>
  </Info>
  <Properties>
    <callToActionButton>
      <Value Culture="de-ch"><![CDATA[[
  {
    "key": "fd18f186-ef76-402f-9f71-b0f84d593d29",
    "name": "Item 1",
    "ncContentTypeAlias": "callToActionButton",
    "PropType": null,
    "link": [
      {
        "name": "Unterseite",
        "udi": "umb://document/e72bdc37ee1d452580114aad0ae25766"
      }
    ],
    "title": "jdhfaksjhf <br /> hfjkkflhjrkh",
    "text": "fldfskjaljk <br /> hjdkfjhskjh",
    "spacerBeforeModule": "0",
    "spacerAfterModule": "0"
  }
]]]></Value>
    </callToActionButton>
    <excludeFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromXMLSitemap>
    <footerConfiguration>
      <Value Culture="de-ch"><![CDATA[[
  {
    "key": "c41482c4-df98-47e0-aad9-fde3e13f8f7a",
    "name": "Item 1",
    "ncContentTypeAlias": "footerConfiguration",
    "PropType": null,
    "blockLinks": [],
    "footerLinks": [],
    "pictureLinks": "",
    "copyright": ""
  }
]]]></Value>
    </footerConfiguration>
    <googleAnalyticsKey>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsKey>
    <headerConfiguration>
      <Value Culture="de-ch"><![CDATA[[
  {
    "key": "4ee6ac8c-f7fd-4815-9c07-84274f817de3",
    "name": "Item 1",
    "ncContentTypeAlias": "headerConfiguration",
    "PropType": null,
    "logo": "umb://media/7b0a08d29e82418198725feaf887b693",
    "logoUrl": [
      {
        "name": "/",
        "url": "/"
      }
    ]
  }
]]]></Value>
    </headerConfiguration>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <modules>
      <Value Culture="de-ch"><![CDATA[[
  {
    "key": "faef0602-ba23-41b1-8c5b-af40d5f0ab99",
    "name": "Rich Text Komponente",
    "ncContentTypeAlias": "richTextComponent",
    "PropType": null,
    "richText": "<p>dsafd</p>",
    "spacerBeforeModule": "0",
    "spacerAfterModule": "0"
  }
]]]></Value>
    </modules>
    <newWindow>
      <Value Culture="de-ch"><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value Culture="de-ch"><![CDATA[Test]]></Value>
    </pageTitle>
    <redirectLink>
      <Value Culture="de-ch"><![CDATA[[]]]></Value>
    </redirectLink>
    <searchEngineFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <showCtaButton>
      <Value Culture="de-ch"><![CDATA[0]]></Value>
    </showCtaButton>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <thumbnail>
      <Value><![CDATA[]]></Value>
    </thumbnail>
  </Properties>
</Content>