<?xml version="1.0" encoding="utf-8"?>
<Content Key="e72bdc37-ee1d-4525-8011-4aad0ae25766" Alias="Unterseite" Level="2">
  <Info>
    <Parent Key="a88bfa5d-136e-43fc-9f45-763c25c5cb94">Test</Parent>
    <Path>/Test/Unterseite</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2021-11-19T10:36:59</CreateDate>
    <NodeName Default="Unterseite">
      <Name Culture="de-ch">Unterseite</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-ch">true</Published>
    </Published>
    <Schedule />
    <Template Key="2fe4d193-5e74-4ecf-925d-f6b124846f98">InhaltsseiteMitModulfeld</Template>
  </Info>
  <Properties>
    <abstract>
      <Value Culture="de-ch"><![CDATA[ANrisstext]]></Value>
    </abstract>
    <callToActionButton>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </callToActionButton>
    <emotionImages>
      <Value><![CDATA[]]></Value>
    </emotionImages>
    <excludeFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromXMLSitemap>
    <footerConfiguration>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </footerConfiguration>
    <googleAnalyticsKey>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsKey>
    <headerConfiguration>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </headerConfiguration>
    <hideAbstract>
      <Value><![CDATA[0]]></Value>
    </hideAbstract>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <mainContent>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <modules>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </modules>
    <newWindow>
      <Value Culture="de-ch"><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value Culture="de-ch"><![CDATA[Unterseite]]></Value>
    </pageTitle>
    <redirectLink>
      <Value Culture="de-ch"><![CDATA[[]]]></Value>
    </redirectLink>
    <searchEngineFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <showCtaButton>
      <Value Culture="de-ch"><![CDATA[0]]></Value>
    </showCtaButton>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <thumbnail>
      <Value><![CDATA[]]></Value>
    </thumbnail>
  </Properties>
</Content>